@tailwind base;
@tailwind components;
@tailwind utilities;

a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

.channel > a:link, .channel > a:visited, .channel > a:hover, .channel > a:active{
    color: white;
}